@import "./variables";
@import "./mixins";
@import "./base";
@import "./components/Home/header";
@import "./components//Home/slider";
@import "./components//Home/CardService";
@import "./components//Home/abc";
@import  "./components/Home/ContentSevice";
@import "./components//Home/taiapp";
@import "./components/Home/BgRealistic";
@import "./components/Home/Product";
@import "./components/section";
@import "./components//Treatment_results/Treatment_results"
