@import "./variables";
@import "./mixins";
@import "./base";
@import "./components/header";
@import "./components/slider";
@import "./components/CardService";
@import "./components/abc";
@import  "./components/ContentSevice"
