.BgRealistic{
    padding-bottom: 6rem;
    background-color: #ECECEC;
    &__container{
        
        padding-top: 4rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }
    &__title{
        color: #d6032c;
        font-size: 2rem;
        letter-spacing: 1px;
        line-height: 20px;
        font-weight: 600;
        text-transform: uppercase;
    }
    &__desp{
        color: #d6032c;
        font-size: 1.6rem;
        font-weight: 500;
    }
    &__btn{
        display: flex;
        align-items: center;
        gap: 10px;
       
    }
    &__cards{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 10px;
    }
    &__card{
        height: 450px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    &__img{
        height: 284px;
        width: 100%;
        img{
            margin: 0 auto;
            width: 100%;
            height: 100%;
        }
    }
    &__content{
        background-color: #fff;
        flex: 1;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 2.5rem 2rem;
        gap: 1.3rem;
    }
    &__button{
        display: flex;
        gap: 6rem;
    }
    &__description{
        font-size: 1.6rem;
        line-height: 1.6;
        display:-webkit-box;
        -webkit-line-clamp:3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
    }

}
.button{
    padding: 5px 12px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 1.6rem;
    &.active{
        background-color: #B10224;
        color: #fff;
        font-weight: 500;
    }
}