.contentService{
    .boder{
        
        height: .5px;
        width: 100%;
        background-color: rgb(126, 119, 119);
    }
    padding: 3rem 0;
    margin-top: 2rem 0;
    @include flex(center, center);
    @include mobile{
        flex-direction: column;
    }
    flex: 1;
    &__image{
        height: 480px;
        min-width: 480px;
        img{
            width: auto;
            height: 100%;     
        }
    }
    &__content{
        padding: 1rem 3rem 0 1rem;
        display: flex;
        flex-direction: column;
        gap: 2.4rem;      
        h3{
            color:#d80931;
            font-size:2.4rem;
            font-weight:700;
            line-height:31.2px;
            text-transform:uppercase;
        }
        p{
            font-weight:400;
            line-height:25.6px;
            font-size: 1.6rem;
        }
        &__carousel{
            display: flex;
            align-items: center;
            gap: 3rem;
            img{
                
                height: 187px;
                width: 207px;
            }
        }
        .btnxemthem{
            cursor: pointer;
            font-size: 1.4rem;
            &:hover{
                color: #861c1c;
            }
        }
       
    } 
    &__inner{
        display: flex;
        flex-direction: column;
        gap: 2.4rem;
    }
    &__carousel{
        display: flex;
        align-items: center;
        gap: 10px;
    }

   
   
    
}